*{
    font-family: serif;  
  }
  body{
      background-color: bisque;
      font-size: 18px;
      word-spacing: 5px;
      margin-top: 80px;
      
  }

  nav{
    background-color:rgb(143, 236, 179);
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display: flex;
    padding-bottom: 0px;
 
  }
  nav>ul>li {
    display: inline;
    margin:30px;
}

a:hover {
    
    background-color:gold;
}

#activities>img{
    float:right;
    clear: right;
}
.g1, .g2{
    display:flex;
    justify-content: space-around;
   padding-bottom: 40px;
   overflow: hidden;
}

#footer{
    background-color:rgb(235, 138, 69);
    text-align: center;
    font-style: italic;
    padding-bottom: 0;
    color:red;
    
}

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}